.search-bar {
  padding: 10px 20px;
  background-color: lightblue;

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
}
a:hover {
  color: #1976d2;
}
.search-params {
  gap: 20px;
  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

label {
  padding: 0 10px;
}

.search-text {
  display: flex;
}

.search-text > input {
  padding: 0 7px;
  font-size: 20px;
  border: none;
  border-radius: 8px 0 0 8px;
}

.search-text > button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  padding: 0 15px;
  cursor: pointer;
  border: none;
  border-radius: 0 8px 8px 0;
}

.search-text > button:hover {
  color: white;
  background-color: #1976d2;
}

.list {
  max-height: 425px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding-left: 50px;
  font-size: 26px;
  color: lightgray;
}
/* selected county table */
h2 {
  color: yellow;
}
.data-table {
  margin-top: 20px;
  text-align: center;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: yellow;
}

.data-table th {
  color: grey;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.data-table th {
  background-color: #f4f4f4;
}

.data-table img {
  border-radius: 5px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 10px;
}

.person-card {
  width: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.person-photo {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #eee;
}

.person-details {
  padding: 10px;
}

.person-name {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}

.back-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.back-button:hover {
  color: white;
  background-color: #1976d2;
}
